@import '_mixins'

@mixin inputs
    input, select, textarea
                        width: 34rem
                        outline: none
                        padding: .5rem
                        font-family: 'Poppins', sans-serif
                        border-radius: $br-rad
                        border: 2px solid $cards

// Mixin button
@mixin btnContainer
        .button-container
                height: 4rem
                width: 34rem
                padding-left: 4rem
                position: relative

                button
                    height: 4rem
                    width: 34rem
                    outline: none
                    cursor: pointer
                    transition: $standar
                    border-radius: $br-rad
                    background: transparent
                    border: 2px solid $cards

                    &:hover
                        color: #ffff
                        background: $buttons
                        transition: $standar

                    &:active
                        scale: .9
                        transition: $standar



.container-forms
    width: 70%
    height: 62rem
    display: flex
    box-shadow: $shadow
    flex-direction: column
    border-radius: $br-rad
    justify-content: space-around
    transform: translate(20%, 13%)

    .title-forms
        width: 100%
        height: 5rem
        display: flex
        align-items: center
        font-size: $description-card
        justify-content: space-around

        @include btn-return($left: 1rem, $top: 0, $position: relative, $height: 7rem, $width: 4rem)

    h1
        width: 40rem


    .form-container
        height: 50rem

        .form-space
            width: 100%
            height: 50rem
            display: flex
            flex-direction: row
            align-items: center
            flex-direction: column
            justify-content: space-around


            .container-items
                width: 30rem

                .items-form
                    width: 35rem
                    display: flex
                    height: 10rem
                    flex-wrap: wrap
                    margin-bottom: 1rem

                    label
                        font-size: $description-card

                    @include inputs


                    .file-input
                        background: transparent

                    .name-file
                        font-size: $description-card

                    .file-info
                        width: 35rem
                        display: flex
                        flex-wrap: wrap

                        span
                            width: 20rem
                            font-size: $description-card

                    .file
                        display: none

                    .error-text
                        color: $errors
                        font-size: $description-card

            @include btnContainer

.formulario-exercises
    width: 100%
    display: flex
    align-items: center
    height: fit-content
    flex-direction: column

    .container-items-exercises
        width: 95%
        display: flex
        margin-bottom: 1rem
        flex-wrap: wrap
        height: fit-content
        justify-content: space-between

        .items-form-exercises

            label, .left
                padding: 1rem
                font-size: $description-card

            display: flex
            @include inputs
            margin-top: 1rem
            flex-direction: column

            .draggable-item
                    display: flex
                    flex-direction: row
                    width: 100%

                    .item
                        color: #fff
                        border-radius: $br-rad
                        width: fit-content
                        height: fit-content
                        margin-top: 1rem
                        background: $buttons
                        font-size: $description-card

            .bnt-excersice
                margin: 1rem
                outline: none
                cursor: pointer
                width: fit-content
                transition: $standar
                border-radius: $br-rad
                background: transparent
                border: 2px solid $cards
                font-size: $description-card

                &:hover
                    color: #fff
                    transition: $standar
                    background: $buttons

                &:active
                    scale: .9
                    transition: $standar


            .div-checkbox
                    width: 100%
                    display: flex
                    height: 4rem
                    align-items: center
                    justify-content: start


                    .form-checkbox
                        width: 2rem
                        height: 2rem
                        border: none
                        border-radius: 50%

                    .option
                        text-size-adjust: 100%
                        width: 30rem
                        display: flex
                        align-items: center
                        font-size: $description-card

    @include btnContainer



@media screen and (max-width: 1211px) and (min-width: 600px)
    .container-forms
        width: 55rem
        transform: translate(4%, 13%)


@media screen and (max-width: 599px) and (min-width: 320px)
    .container-forms
        width: 35rem
        transform: translate(0, 7%)
        margin-left: clamp(4rem, 5rem, 6rem)

        .title-forms

            @include btn-return($left: -2.4rem, $top: -2rem, $position: relative, $height: 4rem, $width: 4rem)


        .form-container
            .form-space
                .container-items
                    .items-form
                        width: 30rem

                        input, select, textarea
                            width: 30rem

                .button-container
                    width: 30rem
                    padding: 0

                    button
                        width: 30rem
