@media screen and ( max-width: 599px ) and (min-width: 320px)
            .container-page
                display: inline

                .sidebar
                    display: none

                .container-menu-mobile
                    display: block
                    position: absolute
                    pointer-events: auto
                        z-index: 1000000

                    .menu-mobile

                        img
                            width: 3rem
                            height: 3rem
                            margin: 1rem 0 0 .5rem

                    .items-mobile
                        height: 30rem

                        .nav-links-mobile
                            width: 15rem
                            height: 20rem
                            display: none
                            background: $cards
                            pointer-events: none
                            flex-direction: column
                            border-radius: $br-rad
                            justify-content: space-around

                            a
                                color: #000
                                display: flex
                                margin-top: .5rem
                                height: fit-content
                                align-items: center
                                text-decoration: none

                                &:active
                                    transform: scale(.9)

                            .icons-sidebar
                                width: 2rem
                                height: 2rem
                                margin: 0 .5rem

                            .hidden
                                font-size: $description-card - .5rem

                        .nav-links-mobile-user
                            display: none

                            .hidden
                                color: #000
                                text-decoration: none

                            img
                                width: 4rem
                                height: 4rem


                    .settings-dropdown-mobile
                        width: 15rem
                        height: 3rem
                        display: none

                        .dropdown-content
                            width: 15rem
                            height: 10rem

                        .dropdown-trigger

                            .img-sidebar
                                display: none
                                pointer-events: none


                main
                    translate: 6rem 1.5rem
                    z-index: -1000
                    display: flex
                    min-width: 0

                &.container-page.sidebar-collapsed

                    display: flex

                    .container-menu-mobile
                        background: $cards
                        border-radius: 0 .8rem .8rem 0

                    .items-mobile

                        .nav-links-mobile
                            display: flex
                            cursor: pointer
                            pointer-events: auto
                            transition-delay: calc( .1s * var(--i))

                        .nav-links-mobile-user
                            display: flex
                            translate: 0 5rem
                            align-items: center
                            justify-content: center

                            a
                                display: flex
                                align-items: center
                                height: fit-content
                                text-decoration: none
                                justify-content: space-around

                            .hidden
                                font-size: $description-card

                    .settings-dropdown-mobile
                            display: flex

                            .dropdown-trigger

                                button
                                    outline: none
                                    translate: 0 -1rem
                                    width: fit-content
                                    font-size: $description-card - .4rem
                                    border-radius: $br-rad
                                    border: 2px solid #ffff
                                    background: transparent

                            .dropdown-content
                                height: 7rem
                                width: 10rem
                                display: flex
                                flex-wrap: wrap
                                translate: 2.3rem -11rem
                                justify-content: center

                                .img-logout
                                    display: none

                                a
                                    color: #000
                                    width: 9.5rem
                                    padding-top: .2rem
                                    translate: 0 -.5rem
                                    text-align: center
                                    text-decoration: none

                                    &:hover
                                        transition: $standar
                                        border-radius: $br-rad
                                        background: $background

                                span
                                    translate: 2rem
                                    font-size: $description-card - .3rem


                                button
                                    height: 3rem
                                    background: #fff
                                    border: 2px solid #fff
                                    border-radius: $br-rad
                                    font-size: $description-card - 1rem



